<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>

    <style>
        .tag-container{
            text-align: center;
            margin : 10px 0 ;
        }
    
        .tag-container .tag{
            font-size: 15px;
            border : 1px solid #4c1cee;
            padding : 5px 15px;
            border-radius: 1cm;
            margin : 0 0.5rem;
        }
    
        .tag-container .tag.active{
            background-color: #4c1cee;
            color : #ffffff;
        }
    
        .tag-container .tag:hover {
            transition : background-color 0.38s ease, color 0.38s ease;
            background-color: #4c1cee;
            color : #ffffff;
        }
    
        .spcontainer .spfooter{
            text-align: right;
        }
    
        .spcontainer .sptitle {
            margin : 0;
        }
    
        .spcontainer .spcontent {
            margin : 0;
        }
    

    /* ---- grid ---- */

    .grid-post {
    width : 100%;
    background: #EEE;
    align-items: center;
    }

    /* clearfix */
    .grid:after {
    content: '';
    display: block;
    clear: both;
    }

    /* ---- grid-item ---- */

    .grid-item {
    width: 30%;
    float: left;
    background: #ffffff;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
    border-radius: 5px;
    margin : 15px 1.6%;
    padding : 10px;
    }

    .image-source {
        width : 100%;
        height : auto;
        border-radius: 0.1cm;
    }

    .lpcontent {
        margin: 5px 0;
        height: 60px;
        overflow: hidden;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .lptitle {
        display : inline-block;
        margin : 0;
        font-weight: bold;
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    
    .lpfooter{
        text-align: right;
        font-size: 12px;
    }

    .lpfooter i{
        font-size: 14px;
    }

    .lpwriter, .lplike, .lpcomment {
        margin : 0 3px;
    }

    @media screen and (max-width: 830px){
        .grid-item {
            width: 45%;
            margin : 15px 2.5%;
        }

        .lptitle {
            max-width: 150px;
        }

        .lpcontent {
            margin: 5px 0;
            height: 40px;
        }

    }

    @media screen and (max-width: 420px){
        .grid-item {
            width: 100%;
            margin : 15px 0;
        }
    }

    </style>
</head>
<body>
    <%- include ("../../partials/nav") %>
    <div class= "container">
        <div class="boardtitle">
            <div>UZU 긴 글 목록</div>
        </div>

        <div class="tag-container">
            <span class="tag all active">all</span>
            <span class="tag t1 all">#111</span>
            <span class="tag t2 all">#222</span>
            <span class="tag t3 all">#333</span>
            <span class="tag t4 all">#444</span>
            <span class="tag t5 all">#555</span>
        </div>
        <div class="grid-post">
            <% if(boards == null || boards.length == 0){ %>
                <div>No data !!!</div>
            <% } %>
            <% boards.forEach(function(board) { %>
            <article class="grid-item">
                <div class="grid-item-image">
                    <img class="image-source" src="/image/sample.jpg">
                </div>
                <div class="grid-item-content">
                    <div class="lpheader">
                        <p class="lptitle"><a href="/board/short/<%= board._id %>"><%= board.title %></a></p>
                    </div>
                    <p class="lpcontent"><span data-date><%= board.content %></span></p>
                    <div class="lpfooter">
                        <span class="lpwriter">글쓴이</span> 
                        <i class="material-icons">favorite_border</i><span class="lplike">17</span> 
                        <i class="material-icons">comment</i><span class="lpcomment">6</span>
                    </div>
                </div>
            </article>
            <% }) %>
        </div> 
    </div>
</body>
</html>
