  
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>
</head>
<body>
    <%- include ("../../partials/nav") %>
    <div class= "container">
        <div class="boardtitle">
            <div>UZU 긴 글 목록</div>
        </div>
        <div class="tag-container">
            <span class="tag all active">all</span>
            <span class="tag t1 all">#111</span>
            <span class="tag t2 all">#222</span>
            <span class="tag t3 all">#333</span>
            <span class="tag t4 all">#444</span>
            <span class="tag t5 all">#555</span>
        </div>
        <div class="btn-container">
            <a class="btn default" href="/board/long/write">글쓰기</a>
        </div>
        <div class="grid-post">
            <% if(boards == null || boards.length == 0){ %>
                <div>No data !!!</div>
            <% } %>
            <% boards.forEach(function(board) { %>
            <article class="grid-item">
                <div class="grid-item-image">
                    <img class="image-source" src="/image/sample.jpg">
                </div>
                <div class="grid-item-content">
                    <div class="lpheader">
                        <p class="lptitle"><a href="/board/long/<%= board._id %>"><%= board.title %></a></p>
                    </div>
                    <p class="lpcontent"><span data-date><%= board.content %></span></p>
                    <div class="lpfooter">
                        <span class="lpwriter"><%= board.writer.nickname %></span> 
                        <i class="material-icons">favorite_border</i><span class="lplike">17</span> 
                        <i class="material-icons">comment</i><span class="lpcomment">6</span>
                    </div>
                </div>
            </article>
            <% }) %>
        </div> 
    </div>
</body>
<%- include ("../../partials/footer") %>
</html>