<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>

    <style>
    .tag-container{
        text-align: center;
        margin : 10px 0 ;
    }

    .tag-container .tag{
        font-size: 15px;
        border : 1px solid #4c1cee;
        padding : 5px 15px;
        border-radius: 1cm;
        margin : 0 0.5rem;
    }

    .tag-container .tag.active{
        background-color: #4c1cee;
        color : #ffffff;
    }

    .tag-container .tag:hover {
        transition : background-color 0.38s ease, color 0.38s ease;
        background-color: #4c1cee;
        color : #ffffff;
    }

    .spcontainer {
        width : 100%;
    }

    .sptable {
        width: 80%;
        margin: 0 auto;
    }

    .sptd{
        width : 500px;
    }

    .spheader {
        width : 300px;
    }

    .sptitle {
        margin : 0;
        font-weight: bold;
        max-width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .spcontent {
        margin : 0;
        max-width : 50%;
        overflow: hidden;
    }

    .spfooter{
        text-align: right;
        font-size: 11px;
    }

    .spfooter i{
        font-size: 14px;
    }

    .splike, .spcomment {
        margin : 0 3px;
    }

    @media screen and (max-width:840px) {

        .spcontent {
            margin : 0;
            max-width : 50%;
        }
    }

    </style>

</head>
<body>
    <%- include ("../../partials/nav") %>

    <div class= "container">
        <div class="boardtitle">
            <div>UZU 짧은글 목록</div>
        </div>

        <div class="tag-container">
            <span class="tag all active">all</span>
            <span class="tag t1 all">#111</span>
            <span class="tag t2 all">#222</span>
            <span class="tag t3 all">#333</span>
            <span class="tag t4 all">#444</span>
            <span class="tag t5 all">#555</span>
        </div>

        <div class="spcontainer">
            <table class="sptable">
                <tbody class="sptbody">
                    <% if(boards == null || boards.length == 0){ %>
                        <tr>
                          <td colspan=100> 첫번째 글을 작성해보세요! </td>
                        </tr>
                    <% } %>
                    <% boards.forEach(function(board) { %>
                        <tr>
                            <td class="sptd">
                                <div class="spheader">
                                    <span class=item-profile></span>
                                    <span class="spwriter"><%= board.writer ? board.writer.nickname : "" %></span>
                                    <span class="sptime" data-date="<%= post.createdAt %>"><%= post.createdAt %>17분 전</span>
                                </div>
                                <a href="/board/short/<%= board._id %>"><p class="sptitle"><%= board.title %></p></a>
                                <p class="spcontent">gerwvwenjndknkerwvwenjndknkerwvwenjndknkerwvwenjndknkerwvwenjndknkerwvwenjndknkerwvwenjndknknc</p>
                                <div class="spfooter">
                                    <i class="material-icons">favorite_border</i><span class="splike">17</span> 
                                    <i class="material-icons">comment</i><span class="spcomment">6</span>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                    <tr>
                        <td class="sptd">
                            <div class="spheader">
                                <span class=item-profile></span>
                                <span class="spwriter">글쓴이</span>
                                <span class="sptime">17분 전</span>
                            </div>
                            <p class="sptitle">제목 자리</p>
                            <p class="spcontent">gerwvwenjndknkerwvwenjndknkerwvwenjndknkerwvwenjndknkerwvwenjndknkerwvwenjndknkerwvwenjndknknc</p>
                            <div class="spfooter">
                                <i class="material-icons">favorite_border</i><span class="splike">17</span> 
                                <i class="material-icons">comment</i><span class="spcomment">6</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="sptd">
                            <div class="spheader">
                                <span class=item-profile></span>
                                <span class="spwriter">글쓴이</span>
                                <span class="sptime">17분 전</span>
                            </div>
                            <p class="sptitle">제목 자리dnfnslkenwifnencinweknklenwclinienwjkndlkejnknlkwenrweiunkfnrlkjnernf</p>
                            <p class="spcontent">gerwvwenjndknkerwvwenjndknkerwvwenjndknkerwvwenjnnkerwvwenjnnkerwvwenjnnkerwvwenjnnkerwvwenjnnkerwvwenjndknkerwvwenjndknkerwvwenjndknkerwvwenjndknknc</p>
                            <div class="spfooter">
                                <i class="material-icons">favorite_border</i><span class="splike">17</span> 
                                <i class="material-icons">comment</i><span class="spcomment">6</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
