<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>
</head>

<style>
    form{
        width: 100%;
    }

    .search-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0 50px 0;
    }

    #searchIcon{
        padding-right: 10px;
    }

    .main #search{
        width: 260%;
        margin-bottom: -10px;
    }

    .search-option, .search-bar {
        position: relative;
        left: -18%;
    }

    #search-btn{
        background-color: #4c14ee;
        color : #ffffff;
        border-radius: 4px;
        float: right;
        left: 205%;
        top: -24px;
    }
</style>

<body>
    <%- include ("../../partials/nav") %>

    <div class= "container">
        <form action="/board/short" method="GET">
            <div class="search-container">
                <div class="search-option">
                    <label id="searchIcon" class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <div class="input-field col s12">
                        <select id="search" name="searchType">
                            <option value="title,content" <%= searchType =='title,content'?'selected':'' %>>Title, Content</option>
                            <option value="title" <%= searchType =='title'?'selected':'' %>>Title</option>
                            <option value="content" <%= searchType =='content'?'selected':'' %>>Content</option>
                        </select>
                    </div>    
                </div>   
                <div class="search-bar">
                    <div class="main input-field">
                        <input id="search" type="text" name="searchText" value="<%= searchText %>" required>
                    </div>
                    <div class="search-button">
                        <button type="submit" class="waves-effect waves-light btn" id="search-btn">검색</button>
                    </div>
                </div> 
            </div>
        </form> 

        <div class="tag-container">
            <span class="tag all active">all</span>
            <span class="tag t1 all">#111</span>
            <span class="tag t2 all">#222</span>
            <span class="tag t3 all">#333</span>
            <span class="tag t4 all">#444</span>
            <span class="tag t5 all">#555</span>
        </div>
        <div class="btn-container">
          <a class="btn default" href="/board/short/write">글쓰기</a>
        </div>
        <div class="spcontainer">
            <table class="sptable">
                <tbody class="sptbody">
                  <% if(boards == null || boards.length == 0){ %>
                    <tr>
                      <td colspan=2> There is no data to show :( </td>
                    </tr>
                  <% } %>
                  <% boards.forEach(function(board) { %>
                    <tr>
                        <td class="sptd">
                            <div class="spheader">
                                <span class=item-profile></span>
                                <span class="spwriter"><%= board.writer.nickname %></span>
                                <span> - </span>
                                <span class="sptime">
                                    <%= moment(board.createdAt).fromNow(); %>
                                </span>
                            </div>
                            <p class="sptitle"><a href="/board/short/<%= board._id %>"><%= board.title %></a></p>
                            <p class="spcontent"><span data-date><%= board.content %></span></p>
                            <div class="spfooter">
                                <i class="material-icons">favorite_border</i><span class="splike"><%= board.likeCnt %></span> 
                                <i class="material-icons">comment</i><span class="spcomment">6</span>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
<%- include ("../../partials/footer") %>
</html>
