<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>
</head>
<body>
    <%- include ("../../partials/nav") %>
    <div class= "container">
        <div class="boardtitle">
            <div>UZU 짧은글 목록</div>
        </div>
        <div class="tag-container">
            <span class="tag all active">all</span>
            <span class="tag t1 all">#111</span>
            <span class="tag t2 all">#222</span>
            <span class="tag t3 all">#333</span>
            <span class="tag t4 all">#444</span>
            <span class="tag t5 all">#555</span>
        </div>
        <div class="btn-container">
          <a class="btn default" href="/board/short/write">글쓰기</a>
        </div>
        <div class="spcontainer">
            <table class="sptable">
                <tbody class="sptbody">
                  <% if(boards == null || boards.length == 0){ %>
                    <tr>
                      <td colspan=2> There is no data to show :( </td>
                    </tr>
                  <% } %>
                  <% boards.forEach(function(board) { %>
                    <tr>
                        <td class="sptd">
                            <div class="spheader">
                                <span class=item-profile></span>
                                <span class="spwriter"><%= board.writer %></span>
                                <span> ``` </span>
                                <span class="sptime"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(boards.createdAt) %></span>
                            </div>
                            <p class="sptitle"><a href="/board/short/<%= board._id %>"><%= board.title %></a></p>
                            <p class="spcontent"><span data-date><%= board.content %></span></p>
                            <div class="spfooter">
                                <i class="material-icons">favorite_border</i><span class="splike"><%= board.likeCnt %></span> 
                                <i class="material-icons">comment</i><span class="spcomment">6</span>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
<%- include ("../../partials/footer") %>
</html>
