<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>
</head>

<body>
    <%- include ("../../partials/nav") %>
    <div class= "container">
        <form class="searchform" action="/board/short" method="GET">
            <div class="search-container">
                <div class="input-field search option">
                    <select id="search" name="searchType">
                        <option value="title,content" <%= searchType =='title,content'?'selected':'' %>>전체</option>
                        <option value="title" <%= searchType =='title'?'selected':'' %>>제목</option>
                        <option value="content" <%= searchType =='content'?'selected':'' %>>내용</option>
                    </select>
                </div>    
                <div class="search-bar">
                    <div class="input search">
                        <input id="search" type="text" name="searchText" value="<%= searchText %>" required>
                    </div>
                </div>
                <div class="search-button">
                    <button type="submit" class="btn" id="search-btn"><i class="material-icons search">search</i></button>
                </div>
            </div>
        </form> 

        <div class="tag-container">
            <span class="tag all active">all</span>
            <span class="tag t1 all">#111</span>
            <span class="tag t2 all">#222</span>
            <span class="tag t3 all">#333</span>
            <span class="tag t4 all">#444</span>
            <span class="tag t5 all">#555</span>
        </div>
        <div class="btn-container">
          <a class="btn default" href="/board/short/write">글쓰기</a>
        </div>
        <div class="spcontainer">
            <table class="sptable">
                <tbody class="sptbody">
                  <% if(boards == null || boards.length == 0){ %>
                    <tr>
                      <td colspan=2> There is no data to show :( </td>
                    </tr>
                  <% } %>
                  <% boards.forEach(function(board) { %>
                    <tr>
                        <td class="sptd">
                            <div class="spheader">
                                <span class=item-profile></span>
                                <span class="spwriter"><%= board.writer.nickname %></span>
                                <span> - </span>
                                <span class="sptime">
                                    <%= moment(board.createdAt).fromNow(); %>
                                </span>
                            </div>
                            <p class="sptitle"><a href="/board/short/<%= board._id %>"><%= board.title %></a></p>
                            <p class="spcontent"><span data-date><%= board.content %></span></p>
                            <div class="spfooter">
                                <i class="material-icons">favorite_border</i><span class="splike"><%= board.likeCnt %></span> 
                                <i class="material-icons">comment</i><span class="spcomment">6</span>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
<%- include ("../../partials/footer") %>
</html>
