<!DOCTYPE html>
<html>
  <head>
    <%- include('../../partials/head') %>
    
  </head>
  <body>
    <%- include('../../partials/nav') %>
    <div class="container">
      <div class="btn-container back">
        <a href="/board/short"><i class="material-icons back">arrow_back</i></a>
      </div>
      <div class="post-container">
          <div class="sptitle-show"><%= boards.title %></div>
          <div class="sp info">
            <div class = "g1">
              <span class="spwriter-show"><%= boards.writer.nickname %></span>
              <span> - </span>
              <span class="sptime-show"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(boards.createdAt) %></span>
            </div>
            <div class = "g2">
              <span class="splike-show"><i class="material-icons">favorite_border</i><%= boards.likeCnt %></span>
            </div>
          </div>
          <div class="line"></div>
          <div class="spcontent-show"><%= boards.content %></div>
          <div class="btn-container ud">
            <a class="btn default update" href="/board/short/<%= boards._id %>/edit">수정</a>
            <form action="/board/short/<%= boards._id %>?_method=delete" method="POST">
              <a class="btn default delete" href="javascript:void(0)" onclick="confirm('삭제하시겠습니까?')?this.parentElement.submit():null;">삭제</a>
            </form>
          </div>
      </div>
    </div>
  </body>
  <%- include ("../../partials/footer") %>
</html>